
<!DOCTYPE html>

<html lang="en-US">
    <link rel="stylesheet" href="../../../static/css/screen.css"/>

<head>

	<meta charset="UTF-8">
	<title>landing Page </title>

</head>

<body>
This is a list of acsessible links.
<p></p>
<a href="http://127.0.0.1:8000/login"> Login</a>
<p></p>
<a href="http://127.0.0.1:8000/"> Self</a>
<p></p>
<a href="http://127.0.0.1:8000/logout"> logout</a>
<p></p>
<a href="http://127.0.0.1:8000/accounts/profile/"> profile</a>
<p></p>
<a href="http://127.0.0.1:8000/accounts/home/"> home</a>
<p></p>
<a href="http://127.0.0.1:8000/upload/"> upload</a>
<p></p>
<a href="http://127.0.0.1:8000/catalogue/ "> catalogue</a>
<p></p>
<a href="http://127.0.0.1:8000/browse/ "> browse</a>
<p></p>
<a href="http://127.0.0.1:8000/browse/delete.html/ "> delete</a>
<p></p>
<a href="http://127.0.0.1:8000/browse/delete.html/browse.html "> delete/browse</a>
<p></p>
<a href="http://127.0.0.1:8000/browse/delete.html/delete.html "> delete/delete</a>
<p></p>
<a href="http://127.0.0.1:8000/login"> Login</a>
<p></p>
	
</body>

</html>
