<!DOCTYPE html>
<html lang="en" id="user-role">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="../../../static/css/screen.css"/>
    <title>Seller Page</title>
  </head>
  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>

      <main class=" content-section">
        {% if messages %}
           {% for message in messages %}
              <article class="alert alert-{{ message.tags }}">
                  {{ message }}
              </article>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Upload a Textbook Or Msg Others </legend>
            </fieldset>
            <fieldset class="form-group">
                <!-- <button class="btn btn-outline-info" type="button" value="#">Upload Textbook</button> -->
                 <!-- I couldn't figure out way to have these as working buttons; if you can resolve this then modify file accordingly -->
                <!-- <button class="ml-2 button" value="{% url 'uploadtext' %}">Upload a Textbook</button> -->
                <a id="messages-button" class="button" href="{% url 'uploadtext' %}">Upload a Textbook</a>

                <a id="messages-button" class="button" href="{% url 'Messages' %}">Message Others</a>
            </fieldset>
        </form>
        <article>
            <p>
             Finished? <a class="ml-2" href="{% url 'account' %}">Return to Account Home</a>
           </p>
        </article>
    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

</body>
</html>
