<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="/screen.css"/>
    <title>Books4U</title>
  </head>
  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../assets/booklogo.png" alt="Books4U logo">
      </figure>
    </header>


    <main>
        <aside class="" id="user-header">
          <ul class="flex-container">
          <li>
            <figure>
            <img src="../../../../assets/ILTECH_red_stacked.png" alt="university official logo" class ="flex-item" id="university-logo"/>
          </figure>
          </li>
          <li>
            <a href=""><img src="../../../../assets/account-icon.png"/><alt="icon to access account settings"
              id="my-account" class="grid-item"/></a>
          </li>
          </ul>
        </aside>

        <form class="" action="index.html" method="get">
          <input type="text" name="searchbox" id="searchbox" value="I">
          <label for="searchbox">You searched "*search query*"</label>
        </form>

        <section class="book-result">
          <ul class="flex-container">
            <li class="book-pic">
              <a href="../account-settings"><img src="../assets/book-pic.png" alt="a picture of the book"/></a>
            </li>
            <li class="text">Title, Author, Edition</li>
            <li>
              <a href="../account-settings"><img src="../assets/message.png" alt="icon to access
                messages"/></a>
            </li>
          </ul>

          <ul class="flex-container">
            <li>Price: $15</li>
            <li>
              <a href="../account-settings"><img src="../assets/buy.png" alt="icon to buy book"
               class="grid-item"/>BUY</a>
            </li>
            <li>
              <a href="../account-settings"><img src="../assets/plus.png" alt="icon to add the book
                to the wishlist"/>Wishlist</a>
            </li>
          </ul>
        </section>

        <section class="book-result">
          <ul class="flex-container">
            <li class="book-pic">
              <a href="../account-settings"><img src="../assets/book-pic.png" alt="a picture of the book"/></a>
            </li>
            <li class="text">Title, Author, Edition</li>
            <li>
              <a href="../account-settings"><img src="../assets/message.png" alt="icon to access
                messages"/></a>
            </li>
          </ul>

          <ul class="flex-container">
            <li>Price: $15</li>
            <li>
              <a href="../account-settings"><img src="../assets/buy.png" alt="icon to buy book"
               class="grid-item"/>BUY</a>
            </li>
            <li>
              <a href="../account-settings"><img src="../assets/plus.png" alt="icon to add the book
                to the wishlist"/>Wishlist</a>
            </li>
          </ul>
        </section>

        <section class="book-result">
          <ul class="flex-container">
            <li class="book-pic">
              <a href="../account-settings"><img src="../assets/book-pic.png" alt="a picture of the book"/></a>
            </li>
            <li class="text">Title, Author, Edition</li>
            <li>
              <a href="../account-settings"><img src="../assets/message.png" alt="icon to access
                messages"/></a>
            </li>
          </ul>

          <ul class="flex-container">
            <li>Price: $15</li>
            <li>
              <a href="../account-settings"><img src="../assets/buy.png" alt="icon to buy book"
               class="grid-item"/>BUY</a>
            </li>
            <li>
              <a href="../account-settings"><img src="../assets/plus.png" alt="icon to add the book
                to the wishlist"/>Wishlist</a>
            </li>
          </ul>
        </section>

    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
