<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="../screen.css"/>
    <title>Books4U</title>
  </head>
  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../assets/booklogo.png" alt="Books4U logo">
      </figure>
    </header>


    <main>

    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
