/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

* {
  box-sizing: border-box;
}

html {
  font-family: "Didot", serif;
  font-size: 18px;
  line-height: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 11px;
  border-top: solid;
  border-bottom: solid;
  border-style: solid;
  border-color: black;
}

header > * {
  width: 15%;
}

#site-name {
  font-family: "American Typewriter", serif;
  font-weight: normal;
}

h1 {
  font-weight: bolder;
  color: black;
  font-size: 26px;
  line-height: 28px;
  padding-bottom: 33px;
}

img {
  width: 60%;
}

a {
  font-family: "American Typewriter", serif;
  color: red;
  letter-spacing: 1px;
  font-size: 12px;
}

main {
  padding-top: 44px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 44px;
}

.flex-container {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#user-role .flex-container {
  justify-content: space-between;
}

.flex-container > * {
  padding: 6px;
  font-size: 14px;
  flex: 0 0 60px;
}

.flex-container > .text,
.flex-container > .book-pic > *{
  flex: 0 0 200px;
}

#intro-copy {
  text-align: center;
  padding-bottom: 22px;
}

.button,
a.button {
  font-family: Arial;
  font-weight: normal;
  text-decoration: none;
  border: 1px;
  background-color: gray;
  border-radius: 20px;
  color: white;
  border-style:solid;
  border-color: #D3D3D3;
  padding: 8px;
  width: 100%;
}

a.button {
  display: inline-block;
  width: 100%;
  text-align: center;
}

form {
  padding-top: 22px;
  padding-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section {
  padding-top: 22px;
  border-top: 3px;
  border-bottom: 3px;
  border-color: black;
  border-style: double;
}

form > * {
  display: inline-block;
}

form > input {
  display: block;
  margin-left: auto;
  margin-right: auto
}

form > fieldset {
  display: block;
  box-sizing: content-box;
  padding: 6px;
  /*border-left-width: 6px;
  border-left-color: red;/*#D3D3D3
  border-left-style: solid;
  border-right-width: 5px;
  border-right-color: red;
  border-right-style: solid;*/
}

em {
  font-weight: bold;
}

small {
  font-size: 14px;
  display: inline-block;
}

.form-group {
  margin-bottom: 11px;
}

legend {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
  padding-bottom: 22px;
  margin: auto;
}

form > label {
  line-height: 15px;
  font-size: 14px;
  padding-top: 6px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: black;
  color: white;
  padding: 11px;
  margin-top: 22px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

aside > ul > li {
  list-style: none;
}

aside {
  margin-bottom: 22px;
}

p {
  text-align: center;
}

form > * {
  margin: auto;
  margin: 6px;
  width: 90%;
}

#browse-catalogue ul {
  padding-bottom: 22px;
}

#browse-catalogue strong {
  font-style: italic;
}

#browse-catalogue article > p {
  padding-top: 22px;
  font-size: 16px;
}

#main-messages button,
.messages .button {
  text-transform: uppercase;
}

#main-messages button {
  font-size: 16px;
}
.messages h5,
.messagges h3 {
  text-align: center;
}

@media screen and (min-width: 500px){
 /* fix header */
 img {
   width: 80%;
 }
 .flex-container > * {
   padding: 6px;
   font-size: 16px;
   flex: 0 0 90px;
 }

 .flex-container > .text,
 .flex-container > .book-pic > *{
   flex: 0 0 300px;
 }

 header > * {
   width: 5%;
 }

 .button,
  a.button {
   width: 60%;
   display: grid;
   margin: auto;
 }

}

@media screen and (min-width: 700px){
  .button,
  a.button {
    width: 40%;
  }

  form {
    width: 60%;
  }

  .messages form {
    width: 100%;
  }

  #main-messages button,
  .messages .button {
    width: 100%;
  }
}


@media screen and (min-width: 1000px){
  .button {
    max-width: 200px;
  }

  #main-messages button,
  .messages .button {
    width: 100%;
  }

  fieldset > * {
    flex-direction: row;
    flex-flow: column-reverse;
  }

  form {
    width: 40%;
  }

  .messages form {
    width: 100%;
  }
}
