<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="../../../static/css/screen.css"/>
    <title>Report Fraud</title>
  </head>
  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>

    {% load crispy_forms_tags %}
    <main class=" content-section">
      <aside class="" id="user-header">
        <ul class="flex-container">
        <li>
          <figure>
          <img src="../../../../static/assets/ILTECH_red_stacked.png" alt="university official logo"
          class ="flex-item" id="university-logo"/>
        </figure>
        </li>
        <li>
          <figure>
            <a class="ml-2" href="{% url 'account' %}"><img src="../../../../static/assets/account-icon.png"
              alt="icon to access account settings"
              id="my-account" class="grid-item"/></a>
          </figure>
        </li>
        </ul>
      </aside>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Report here</legend>
                {{ form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                <button class="button btn-outline-info" type="submit" value="{% url 'account' %}">Report</button>
            </fieldset>
        </form>
        <article>
            <p>
                Nothing to report? <a class="ml-2" href="{% url 'account' %}">Return to Account Home</a>
            </p>
        </article>
    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
