<!DOCTYPE html>
<html lang="en" id="user-role">
  <head>
    <article class=" content-section">
      {% if messages %}
         {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">
                {{ message }}
            </p>
          {% endfor %}
      {% endif %}
    </article>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="../../../static/css/screen.css"/>
    <title>Books4U</title>
  </head>

  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
          <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>

    <main>
      <aside class="" id="user-header">
        <ul class="flex-container">
        <li>
          <figure>
          <img src="../../../../static/assets/ILTECH_red_stacked.png" alt="university official logo"
          class ="flex-item" id="university-logo"/>
        </figure>
        </li>
        <li>
          <figure>
            <a href="../account-settings"><img src="../../../../static/assets/account-icon.png"
              alt="icon to access account settings"
              id="my-account" class="grid-item"/></a>
          </figure>
        </li>
        </ul>
      </aside>
      <p>Hi {{request.user}}, what are you looking for?</p>
      <form method="POST">
          {% csrf_token %}
        <fieldset class="form-group">
          <button type="submit" id="buyer-button" value="#" class="button">BUYER</button>  <!-- Replace '#' in value once buyer is functioning -->
          <button type="submit" id="seller-button" value="{% url 'seller' %}" class="button">SELLER</button>
          <!-- I couldn't figure out way to have these as working buttons; if you can resolve this then modify file accordingly -->
          <a id="catalogue-button" class="button" href="{% url 'catalogue' %}">CATALOGUE</a>
          <a id="messages-button" class="button" href="{% url 'Messages' %}">MESSAGES</a>
        </fieldset>
      </form>
    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
