<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
<link rel="stylesheet" href="../../../static/css/screen.css"/>
<title>Registration Portal</title>
</head>

  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>


    {% load crispy_forms_tags %}
    <main class=" content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                <button class="button btn-outline-info" type="submit" value="{% url 'login' %}">Sign Up</button>
            </fieldset>
        </form>
        <article>
            <p>
              Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </p>
        </article>
    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
