<!DOCTYPE html>
<html id="browse-catalogue">
<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
<link rel="stylesheet" href="../../../static/css/screen.css"/>
<title>Browse Catalogue</title>
</head>

  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>

    <main class="container content-section">
      <aside class="" id="user-header">
        <ul class="flex-container">
        <li>
          <figure>
          <img src="../../../../static/assets/ILTECH_red_stacked.png" alt="university official logo"
          class ="flex-item" id="university-logo"/>
        </figure>
        </li>
        <li>
          <figure>
            <a href="{% url 'account' %}"><img src="../../../../static/assets/account-icon.png"
              alt="icon to access account settings"
              id="my-account" class="grid-item"/></a>
          </figure>
        </li>
        </ul>
      </aside>

      <article id="book-list">
      <h1>Catalogue List</h1>

        <form class="d-flex" action="/search/" method="POST">
          <input type="hidden" name="csrfmiddlewaretoken" value="ykLDbSj9Em3aucvf7MWi9HrHIJ5serkI7pdJHXtyqueJ1QFtUBQyYvcJf2tdWeqz">
          <input type="search" placeholder="Search By Title, Author, or ISBN" name="searchresults"/>
          <button type="submit" class="button">Search</button>
        </form>



      {% for textbook in textbook_list %}
          <strong>{{ textbook }}</strong>
          <ul>
            <li>Author: {{ textbook.author }}</li>
            <li>ISBN: {{ textbook.isbn }}</li>
            <li>Price: {{ textbook.price }}</li>
            <li>Poster: {{ textbook.poster }}</li>
            <li>
              <a target="_blank"  href="{% url 'checkout' textbook.id  %}">Buy Now</a>
            </li>
            <li class="wishlist-form">
              <form class="d-flex" action="/wishlistform/" method="POST">
              <input type="hidden" name="csrfmiddlewaretoken" value="ykLDbSj9Em3aucvf7MWi9HrHIJ5serkI7pdJHXtyqueJ1QFtUBQyYvcJf2tdWeqz">
              <button type="submit" href="{% url 'wishlistform' %}" class="a">Add to Your Wishlist</a>
              </form>
            </li>
          </ul>
      {% endfor %}

  </article>
  <article>
      <p>
          Finished? <a class="ml-2" href="{% url 'account' %}">Return to Account Home</a>
      </p>
  </article>

    </main>

    <footer id="footer">
      <p>Site content and design copyright TeamK "IPRO: Global Product Development",
        Illinois Institute of Technology, Spring 2022</p>
    </footer>

  </body>
</html>
