<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <link rel="stylesheet" href="../../../static/css/screen.css"/>
    <title>Delete Books</title>
  </head>
  <body>
    <header>
      <h1 id="site-name">Books4U</h1>
      <figure>
        <img id="logo" src="../../../../static/assets/booklogo.png" alt="Books4U logo"/>
      </figure>
    </header>

    <main class=" content-section">
      <aside class="" id="user-header">
        <ul class="flex-container">
        <li>
          <figure>
          <img src="../../../../static/assets/ILTECH_red_stacked.png" alt="university official logo"
          class ="flex-item" id="university-logo"/>
        </figure>
        </li>
        <li>
          <figure>
            <a href="{% url 'account' %}"><img src="../../../../static/assets/account-icon.png"
              alt="icon to access account settings"
              id="my-account" class="grid-item"/></a>
          </figure>
        </li>
        </ul>
      </aside>

      <style> h1,h5 {text-align: center;} </style>
      <style> h5 {font-style: italic; letter-spacing: 1px;}</style>
      <h1>Deletion Confirmation</h1>
      <h5>Sure you want to delete this book?</h5>
      {% block content %}

        <article style="margin-top: 30px" class="center">
          <strong>{{ textbook }}</strong>
          <ul>
            <li>Author: {{ textbook.author }}</li>
            <li>ISBN: {{ textbook.isbn }}</li>
            <li>Price: {{ textbook.price }}</li>
            <li>Poster: {{ textbook.poster }}</li>
            </li>
          </ul>
        </article>

      {% endblock %}

      <form action="{% url 'deleteconfirm' textbook.id %}" method="POST">
        {% csrf_token %}

        <input type="submit" style="background-color:red" style="color:white" class="button btn-lg btn-danger"
        value="Delete this book"/>
        </form>
<p>{{textbook.des}}</p>

      <article>
        <p>
            Changed Your Mind? <a class="ml-2" href="{% url 'browse' %}">Return to Catalogue</a>
        </p>
    </article>

  </main>

  <footer id="footer">
    <p>Site content and design copyright TeamK "IPRO: Global Product Development",
      Illinois Institute of Technology, Spring 2022</p>
  </footer>

</body>
</html>
